# Workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages. @@ Script by https://gitlab.com/iamshivakumaran/

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ['main']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  # Build job does cache, with an exemption to update in package.json and build the code when there's
  # a push to `main` branch
  build:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload build folder
          path: './build'
  
  # Deployment job
  deploy:
    needs: build
    permissions:
        pages: write
        id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-slim
    steps:
      - name: Deploy to GitHub Pages with custom SSL
        id: deployment
        uses: actions/deploy-pages@v4
